.dev-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .dev-card {
    width: 45%;
    box-shadow: rgba(16, 112, 177, 0.2)  5px 20px 50px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
  }

  .dev-img {
    max-width: 100%;
    border-radius: 56% 48% 53% 56% / 70% 50% 58% 41%;
  }
}
