.register-page-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    width: 45%;
    text-align: center;
    box-shadow: rgba(16, 112, 177, 0.2)  5px 20px 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    .form-control {
        padding: 5px 0 5px 10px !important;
        border-radius: 10px !important;
    }
}

.register-prime {
    background: rgba(228, 222, 222, 0.5) !important;
}

.btn-white {
    color: white !important;
}
