.dev-links {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer-logo {
  width: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.page-footer {
  padding: 20px 0;
  background-color: #80cbc4;
}
