.savanna-wrapper {
  height: calc(100vh - 181px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../../assets/free-mountain-vector-01.jpg");
  background-size: 100% 200%;
  transition: 0.5s ease-in-out;
  background-position: 0 100%;
}

.savanna__hearts-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
}

.savanna__heart {
  width: 30px;
  height: 30px;
  margin: 3px;
  background-image: url("../../assets/heart.svg");
  background-size: 100% 100%;
  opacity: 1;

}

.savanna__word-container {
  text-align: center;
  & b {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 2px #000000, 0 0 1rem #282c34;
    color: rgba(255, 255, 255, 0.8)
  }
}

.savanna__word-panel {
  margin: 0 auto;
  position: relative;
  top: 200px;
  min-width: 300px;
  & button {
    margin: 10px;
  }
}

.preloader-wrapper {
  margin: 0 auto!important;
}


// Cristal

$color: #fd7000;
$size: 1rem;
$time: 1;

.dank-ass-loader {
  position: relative;
  display: flex;
  margin: 0 auto;
  bottom: -50%;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  .row-cr {
    display: flex;
  }
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 (-$size / 2);
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: ($size * 1.8) solid $color;
  animation: blink $time + s infinite;

  &.down {
    transform: rotate(180deg);
  }

  @for $i from 1 through 18 {
    &.outer-#{$i} {
      animation-delay: -($time / 18) * $i + s;
    }
  }

  @for $i from 1 through 6 {
    &.inner-#{$i} {
      animation-delay: -($time / 6) * $i + s;
    }
  }
}

@keyframes blink {
  0% { opacity: 0.1; }
  30% { opacity: 1; }
  100% { opacity: 0.1; }
}


