$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";

.login-page-wrapper {
    width: 100%;
    height: 100vh!important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 0 50%;
    background-size: 100% 100%;
    background-image: url("../../assets/savanna-bg/savannabg-2.jpg");
}

.login-form {
    width: 45%;
    text-align: center;
    box-shadow: rgba(16, 112, 177, 0.2)  10px 20px 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    .form-control {
        padding: 5px 0 5px 10px !important;
        border-radius: 10px !important;
    }
}

.card-body {
    background-color: rgba(16, 112, 177, 0.4);
    border-radius: 20px;
    padding: 2rem;

    input, input::placeholder, label {
        color: white;
        font-size: 1rem;
    }
}

.login-btn {
    background: rgba(228, 222, 222, 0.5) !important;
}

.btn-active {
    background-color: rgba(16, 112, 177, 0.4);
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;

    &:hover {
        background-color: rgba(40, 108, 153, 0.4);
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.btn-active.btn {
    border-radius: 5px;
    width: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inactive {
    background-color: rgba(16, 112, 177, 0.2);
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;

    &:hover {
        background-color: rgba(16, 112, 177, 0.2);
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.form-submit {
    background-color: rgba(16, 112, 177, 0.5);
    padding: 1rem 2rem;
    border: none;
    color: white;
    border-radius: 10px;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

@media ($mobile-widths) {
    .login-form {
        width: 90%;
    }
}
