.sprint-welcome-wrapper {
  height: calc(100vh - 148px);
  background-size: cover;
}

.game-card {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.sprint-container {
  font-family: 'Nunito', sans-serif;

  .game-container {
    position: relative;
    border-radius: 20px;
    width: 50%;
    margin: 50px auto 0;
    padding: 100px 0;
    text-align: center;
    background: #e0f2f1;
    box-shadow: rgba(16, 112, 177, 0.2)  5px 20px 50px;

    .word {
      font-size: 2rem;
    }

    .timer {
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
      color: #fff;
      background: #00695c;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .correct-btn {
    background-color: #00838f;
  }
  .wrong-btn {
    background-color: #ad1457;
  }

  .empty {
    margin-top: 100px;
  }
}

.card-title {
  margin: 0;
  filter: drop-shadow(2px 4px 6px black);
  color: #ffffff;
}

.game-text {
  text-align: center;
  filter: drop-shadow(2px 4px 6px black);
  color: #ffffff;
  font-size: 2rem;
}

.game-instructions {
  filter: drop-shadow(2px 4px 6px black);
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 1.3rem;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
}

.pulse {
  overflow: visible;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
  }
}

.sprint {
  width: 40%;
  background-color: #ffffff;
  padding: 20px;
  margin: 70px auto;
  border-radius: 10px;
  box-shadow: rgba(16, 112, 177, 0.2)  5px 20px 50px;
}

.card-content-sprint {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.final-btn {
  display: block;
  margin: 0 auto;
}


