.header-nav {
  background: #ee6e73;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 3rem;
  padding: 20px;
  a {
    color: #ffffff;
  }
}

.sidenav-trigger {
  margin: 20px;
}

.sidenav-close {
  margin: 20px 30px 10px;
}
