$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";

.savanna-promo__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: 100% 200%;
  transition: 0.5s ease-in-out;
  background-position: 0 50%;
  font-family: 'Nunito', sans-serif;
}

.savanna-promo__title {
  text-align: center;
  filter: drop-shadow(2px 4px 6px black);
  color: #ffffff;
}

.savanna-promo__depict {
  padding: 0;
  margin: 0;
  display: block;
  width: 80%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: .1rem;
  color: #ffffff;
  font-weight: 700;
  filter: drop-shadow(2px 4px 6px black);
}

.savanna-promo__tutorial {
  padding: 0;
  display: block;
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  color: #ffffff;
  font-weight: 700;
  filter: drop-shadow(2px 4px 6px black);

}

.savanna-promo__tutorial__rules {
  padding: 0;
  display: block;
  width: 40%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .1rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  filter: drop-shadow(2px 4px 6px black);
}

.savanna-promo__wrapper .btn {
  background-color: #0da4f6;
}

@media ($mobile-widths) {
  .savanna-promo__wrapper {
    height: 100vh;
    background-size: 200% 200%;
  }
  .savanna-promo__title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .savanna-promo__depict {
    width: 90%;
    font-size: 1.2rem;
  }

  .savanna-promo__tutorial {
    width: 90%;
    font-size: 1.2rem;
  }

  .savanna-promo__tutorial__rules {
    width: 90%;
    font-size: 1.2rem;
  }
}

