@mixin container() {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";

.text-book_spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.text-book__error {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

.text-book__wrapper,
.vocabulary__wrapper {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: 100% 100%;
  transition: 0.5s ease-in-out;
  background-position: 0 50%;
  background-image: url("../assets/savanna-bg/savannabg-1.jpg");
}

.text-book__title {
  text-align: center;
  font-size: 2.8rem;
  color: #fcfcfc;
  font-family: 'PT Serif', serif;
  margin: 0 0 1rem;
}

.text-book__button-container {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff;
}

.text-book__words-list {
  font-family: 'Nunito', sans-serif;
  height: 52vh;
  width: 80%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.4) !important;
  padding: 0 1rem;
  border-radius: 10px;
  backdrop-filter: blur(4px);

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: #0da4f6;
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #61dafb;
  }
}

.text-book__bottom-controls {
  position: fixed;
  bottom: 104px;
  width: 79%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-book__pagination-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.text-book_game-container {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.text-book__game__item {
  display: flex;
  background-color: #cccccc;
  color: #fcfcfc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 8px 13px;
  transition: 0.3s ease-out;
}

.text-book__game__item:nth-child(1) {
  background-color: #0da4f6;

  &:hover {
    background-color: #57b8ec;
  }
}

.text-book__game__item:nth-child(2) {
  background-color: #0f790f;

  &:hover {
    background-color: #6b9b6b;
  }
}

.text-book__game__item:nth-child(3) {
  background-color: #ee6e73;

  &:hover {
    background-color: #ee9699;
  }
}

.text-book__game__item:nth-child(4) {
  background-color: #641088;

  &:hover {
    background-color: #6f3786;
  }
}


.text-book__word-container {
  display: flex;
  background-color: #fcfcfc;
  margin-bottom: 1%;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  overflow: hidden;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #eeeded;
  }
}

.text-book__word-container.hard {
  position: relative;
  background-color: #eea6ad;

  &::before {
    content: '';
    position: absolute;
    right: 1rem;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-image: url("../assets/vocabulary/network.svg");
  }
}

.text__book__words-list__word-img {
  width: 20%;
  overflow: hidden;
  height: 109px;

  & img {
    width: 100%;
    height: auto;

  }
}

.text-book__words-list__word-translate {
  width: 15%;
}

.text-book__words-list__word-translate--vocabulary {
  align-self: center;
  font-size: 1.5rem;
}

.text-book__words-list__word-translate--vocabulary__attempt {
  padding: 1%;
  align-self: center;
  border-radius: 5px;
  color: #fcfcfc;
}

.text-book__words-list__word-translate--vocabulary__attempt--correct {
  background-color: #0f790f;
}

.text-book__words-list__word-translate--vocabulary__attempt--uncorrect {
  background-color: #d2141b;
}


.text-book__words-list__word-meaning,
.text-book__words-list__word-example {
  width: 33%;
  display: flex;
  flex-direction: column;
  min-height: 100px !important;
  justify-content: space-around;

  & span {
    display: block;
    font-size: 0.9rem;
  }
}

// In Vocabulary start
.text-book__info-container {
  display: flex;
  width: 25%;
  justify-content: flex-end;

}

.text-book__info__item {
  position: relative;
  font-size: 1.2rem;
  color: #fcfcfc;
  width: 30px;
  background-size: 100% 100%;
  margin-right: 3rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    width: 30px;
    height: 30px;
  }
}

.text-book__info__item:nth-child(1)::before {
  background-size: 100% 100%;
  background-image: url("../assets/vocabulary/level.svg");
}

.text-book__info__item:nth-child(2)::before {
  background-size: 100% 100%;
  background-image: url("../assets/vocabulary/blank-page.svg");
}

.text-book__info__item:nth-child(3)::before {
  background-size: 100% 100%;
  background-image: url("../assets/vocabulary/wordstack.svg");
}

.text-book__info__item:nth-child(4)::before {
  background-size: 100% 100%;
  background-image: url("../assets/vocabulary/wrongwords.svg");
}

.vocabulary__words-list__btn-container {
  display: flex;
  width: 20%;
  justify-content: flex-start;

  & button {
    margin-left: 2rem;
    display: block;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.6;
    transition: 0.2s ease-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.vocabulary__words-list__btn--delete {
  background-image: url("../assets/vocabulary/recycle-bin.svg");
  background-size: 70% 70%;
}

.vocabulary__words-list__btn--gohard {
  background-image: url("../assets/vocabulary/network.svg");
  background-size: 70% 70%;
}


.text-book__words-list__empty-blank {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  color: #222222;
  justify-content: center;
  align-items: center;

  & a {
    margin-left: 0.5rem;
  }
}

.deleted {
  opacity: 0.6;
}

.text-book__word-container.deleted >
.vocabulary__words-list__btn-container {
  display: none;
}

.vocabulary__wrapper .text-book__button-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

// In vocabulary end

.text-book__words-list .btn {
  align-self: center;
  margin-right: 13px;
  padding: 0;
  width: 34px;
  height: 34px;
  background-color: #0da4f6;
}

.hide {
  opacity: 0;
}

@media ($mobile-widths) {
  .text-book__wrapper {
    height: 100vh;
  }

  .text-book__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .text-book__button-container span {
    width: 100% !important;
    text-align: center;
  }

  .text-book__button-container__categories {
    margin: 0 auto;
  }

  .text-book__button-container__categories span {
    display: block;
    margin: 0 auto;
    //width: 100%;
    text-align: center;
  }

  .text-book__words-list {
    width: 90%;
    max-height: 60vh;
    margin-bottom: 1rem;
  }

  .text-book__word-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .text__book__words-list__word-img {
    width: 80%;
    height: 80%;
  }

  .text-book__words-list__word-translate {
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }

  .text-book__words-list__word-translate {
    text-align: center;
  }

  .text-book__words-list__word-meaning,
  .text-book__words-list__word-example {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    min-height: 50px !important;
    text-align: center;

    & span {
      font-size: 0.7rem;
    }
  }

  .text-book__bottom-controls {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 65px;
    padding-top: 70px;
  }

  .text-book__pagination-container {
    margin-bottom: 2rem;
  }
  .text-book__wrapper .text-book__info-container {
    margin-bottom: 50px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
    backdrop-filter: blur(4px);
    border-radius: 5px;
  }

  .vocabulary__wrapper .text-book__info-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
    backdrop-filter: blur(4px);
    border-radius: 5px;
  }

  .text-book_game-container {
    display: flex;
    width: 100%;

    & .text-book__game__item {
      font-size: 0.8rem;
      width: 70px;
      height: 45px;
    }
  }

  .text-book_spinner-wrapper {
    height: 55vh;
  }

  .vocabulary__words-list__btn-container {
    width: 100%;
    justify-content: center;

    & button {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}
